<!DOCTYPE html>
{% templatetag openblock %} load staticfiles {% templatetag closeblock %}
{% templatetag openblock %} load compress {% templatetag closeblock %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Home</title>
     {% compress css %}
    <link href="{% templatetag openblock %} static 'bootstrap/less/bootstrap.less'{% templatetag closeblock %}" rel="stylesheet" type="text/less">
    {% endcompress %}
</head>
<body>
<div class="row">
    <div class="col-md-2"><p>This is home! </p></div>

</div>
</body>
</html>